body{
    margin: 0;
    padding: 0;
    background-color: #d1eedb;
}

h1{
    color:#07360b;
    font-family: roboto;
    padding: 0;
    margin:0;
}



a{
    font-family: roboto;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:p1x rgb(24, 22, 22) solid;
    padding: 12px;
    box-shadow:15px 30px 20px rgb(127, 143, 136);
}

.artigo-c-imagem{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.artigo-c-imagem article{
    padding: 12px;
    border:2px #07360b;
    border-radius: 10pc;
}

.artigo-c-imagem article p{
    font-size: 22px;
}

.hobbies{
    display:flex;
    justify-content: center;
    align-items: center;
}

.hobbies li{
    font-size: 22px;
}