body{
    margin: 0;
    padding: 0;
}

h1{
    color:#07360b;
    font-family: roboto;
    padding: 0;
    margin:0;
}

a{
    font-family: roboto;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px rgb(24, 22, 22) solid;
    padding: 12px;
}